.App{
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

.App button, .App input, .App select{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

